<h2>New Client</h2>

<form action="/clients/new" method="post">
  <input type="text" name="name" placeholder="Client Name" required>
  <button type="submit" class="btn btn-primary btn-sm">Add Client</button>
</form>

<div class="btn-row">
  <a class="btn btn-default" href="/clients">Back</a>
</div>
