<h2>Stylists</h2>


<% if @stylists.any?() %>
<ul>
  <% @stylists.each()do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
  You have no stylists yet
<% end %>


<div class="btn-row">
  <a class="btn btn-primary" href="/stylists/new">Add a Stylist</a>
  <a class="btn btn-default" href="/">Back</a>
</div>
