<h2>Stylists</h2>


<% if @stylists.any?() %>

  <% @stylists.each()do |stylist| %>
  <h5><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></h5>
  <% end %>

<% else %>
  You have no stylists yet
<% end %>


<div class="btn-row">
  <a class="btn btn-primary" href="/stylists/new">Add a Stylist</a>
  <a class="btn btn-default" href="/">Back</a>
</div>
